apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kubeview.fullname" . }}
  namespace: {{ .Release.Namespace }}
---
{{- if .Values.singleNamespace }}
kind: Role
{{- else }}
kind: ClusterRole
{{- end }}
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "kubeview.fullname" . }}
  {{- if .Values.singleNamespace }}
  namespace: {{ ternary .Release.Namespace .Values.singleNamespace (eq (toString .Values.singleNamespace) "true") }}
  {{- end }}
rules:
  - apiGroups: ["apps"]
    resources:
      - deployments
      - replicasets
      - daemonsets
      - statefulsets
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources:
      - pods
      - pods/log
      - services
      - configmaps
      - secrets
      - endpoints
      - namespaces
      - persistentvolumeclaims
      - events
    verbs: ["get", "list", "watch"]
  - apiGroups: ["networking.k8s.io"]
    resources:
      - ingresses
    verbs: ["get", "list", "watch"]
  - apiGroups: ["batch"]
    resources:
      - jobs
      - cronjobs
    verbs: ["get", "list", "watch"]
  - apiGroups: ["discovery.k8s.io"]
    resources:
      - endpointslices
    verbs: ["get", "list", "watch"]
  - apiGroups: ["autoscaling"]
    resources:
      - horizontalpodautoscalers
    verbs: ["get", "list", "watch"]
{{- if not .Values.singleNamespace }}
  - nonResourceURLs: ["*"]
    verbs: ["get", "list", "watch"]
{{- end }}
---
{{- if .Values.singleNamespace }}
kind: RoleBinding
{{- else }}
kind: ClusterRoleBinding
{{- end }}
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "kubeview.fullname" . }}
  {{- if .Values.singleNamespace }}
  namespace: {{ ternary .Release.Namespace .Values.singleNamespace (eq (toString .Values.singleNamespace) "true") }}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  {{- if .Values.singleNamespace }}
  kind: Role
  {{- else }}
  kind: ClusterRole
  {{- end }}
  name: {{ include "kubeview.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "kubeview.fullname" . }}
    namespace: {{ .Release.Namespace }}
