# Default values for kubeview.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Kubeview specific, if true the app will function in single namespace mode
# The roles & rolebindings created will be namespaced rather than cluster scoped
limitNamespace: false

replicaCount: 1

image:
  repository: bencuk/kubeview
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: [ "/" ]

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: 
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
