<!-- This is the dialog for settings -->
<div class="modal is-active" x-show="showConfigDialog" x-cloak id="configDialog">
  <div class="modal-background"></div>
  <div class="modal-card better-shad">
    <header class="modal-card-head has-background-primary py-3">
      <p class="modal-card-title has-text-black">Settings</p>
      <button class="delete" aria-label="close" @click="showConfigDialog = false"></button>
    </header>
    <div class="modal-content dark-blur">
      <section class="my-2 mx-2">
        <div class="tabs">
          <ul>
            <li :class="{'is-active':configTab==1}" @click="configTab=1"><a>General</a></li>
            <li :class="{'is-active':configTab==2}" @click="configTab=2"><a>Filters</a></li>
            <li :class="{'is-active':configTab==3}" @click="configTab=3"><a>About</a></li>
          </ul>
        </div>
      </section>
      <section class="mx-5 my-3">
        <div :class="{'is-hidden':configTab!=1}">
          <label class="label">Options</label>
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" x-model="cfg.shortenNames" />
              Shorten Names
            </label>
            <p class="help">Removes hash details from Pod & ReplicaSet names</p>
          </div>
          <div class="field mt-4">
            <label class="checkbox">
              <input type="checkbox" x-model="cfg.debug" />
              Debug
            </label>
            <p class="help">Extra logging in the console</p>
          </div>
          <div class="field mt-4">
            <label>Spacing</label>
            <input type="range" x-model="cfg.spacing" min="10" max="300" step="1" />
            <p class="help">Spacing between nodes in the layout</p>
          </div>
        </div>
        <div :class="{'is-hidden':configTab!=2}">
          <label class="label">Resource Filters (Use Ctrl or Shift to select multiple)</label>
          <div class="field">
            <div class="select is-multiple is-success is-fullwidth">
              <select multiple x-model="cfg.resFilter" size="10">
                <option disabled>• Pods & Deployments:</option>
                <option value="Pod" :selected="cfg.resFilter.includes('Pod')">Pods</option>
                <option value="Deployment" :selected="cfg.resFilter.includes('Deployment')">Deployments</option>
                <option value="StatefulSet" :selected="cfg.resFilter.includes('StatefulSet')">StatefulSets</option>
                <option value="DaemonSet" :selected="cfg.resFilter.includes('DaemonSet')">DaemonSets</option>
                <option value="ReplicaSet" :selected="cfg.resFilter.includes('ReplicaSet')">ReplicaSets</option>
                <option disabled>• Networking:</option>
                <option value="Service" :selected="cfg.resFilter.includes('Service')">Services</option>
                <option value="Ingress" :selected="cfg.resFilter.includes('Ingress')">Ingress</option>
                <option disabled>• Config & Secrets:</option>
                <option value="ConfigMap" :selected="cfg.resFilter.includes('ConfigMap')">ConfigMaps</option>
                <option value="Secret" :selected="cfg.resFilter.includes('Secret')">Secrets</option>
                <option disabled>• Other Resources:</option>
                <option value="Job" :selected="cfg.resFilter.includes('Job')">Jobs</option>
                <option value="CronJob" :selected="cfg.resFilter.includes('CronJob')">CronJobs</option>
                <option value="PersistentVolumeClaim" :selected="cfg.resFilter.includes('PersistentVolumeClaim')">PersistentVolumeClaims</option>
                <option value="HorizontalPodAutoscaler" :selected="cfg.resFilter.includes('HorizontalPodAutoscaler')">
                  HorizontalPodAutoscalers
                </option>
              </select>
            </div>
          </div>
        </div>
        <div :class="{'is-hidden':configTab!=3}">
          <div class="field">
            <label class="label">Kubernetes Cluster</label>
            <p x-text="`Endpoint: ${serviceMetadata.clusterHost}`"></p>
            <p x-text="`Mode: ${serviceMetadata.clusterMode}`"></p>
          </div>
          <div class="field">
            <label class="label">Version</label>
            <p x-text="`${serviceMetadata.version} (${serviceMetadata.buildInfo})`"></p>
          </div>
          <div class="field">
            <label class="label">Project</label>
            <a class="button is-dark" href="https://github.com/benc-uk/kubeview" target="_blank">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>github.com/benc-uk/kubeview</span>
            </a>
          </div>
        </div>
      </section>
    </div>
    <footer class="modal-card-foot py-3 is-flex is-justify-content-center">
      <div class="buttons">
        <button class="button is-success" @click="configDialogSave()">Save changes</button>
        <button class="button" @click="showConfigDialog = false">Cancel</button>
      </div>
    </footer>
  </div>
</div>
