<!-- This shows a side panel filled with info about a resource when clicked -->
<article class="panel is-link" x-data="sidePanel" id="infoPanel" x-transition:enter="slidein"
  x-transition:leave="slideout" x-show="open" x-cloak>
  <p class="panel-heading py-2">
    <img :src="`public/img/res/${panelData.icon}.svg`" width="32" height="32" class="valign-middle" />
    <span x-text="panelData.kind" class="valign-middle"></span>
  </p>
  <section>
    <div class="panel-block is-flex">
      <button class="button is-small is-light mr-1" :class="{'is-outlined':!showLabels}"
        @click="showLabels=!showLabels; showAnno=false">Labels</button>
      <button class="button is-small is-light mr-3" :class="{'is-outlined':!showAnno}"
        @click="showAnno=!showAnno; showLabels=false">Annotations</button>
      <button class="button is-small is-primary" @click="showLogs(panelData.props.name)" x-show="isPod">
        <span class="icon"><i class="fas fa-rectangle-list"></i></span>
        <span>Pod Logs</span>
      </button>
    </div>
    <!-- Labels & Annotations -->
    <template x-for="(value, label) in panelData.labels" :key="label">
      <div class="panel-block py-0" x-show="showLabels">
        <div class="py-1 has-text-weight-bold" x-text="label"></div>
        <div class="py-1" x-text="`: ${value}`"></div>
      </div>
    </template>
    <template x-for="(value, label) in panelData.annotations" :key="label">
      <div class="panel-block py-0" x-show="showAnno">
        <div class="py-1 has-text-weight-bold" x-text="label"></div>
        <div class="py-1" x-text="`: ${value}`"></div>
      </div>
    </template>
    <!-- Properties -->
    <div
      class="panel-block has-background-dark py-0 is-flex is-justify-content-space-around is-align-items-center clickable"
      @click="showProps=!showProps">
      <label class="label is-flex-grow-1 pt-1 mr-3 clickable">Properties</label>
      <i class="fas" :class="showProps ? 'fa-angles-up' : 'fa-angles-down'"></i>
    </div>
    <template x-for="(value, prop) in panelData.props" :key="prop">
      <div class="panel-block py-0" x-show="showProps" x-transition.scale.origin.top>
        <div class="py-1 has-text-weight-bold property" x-text="prop"></div>
        <div class="py-1" x-text="value"></div>
      </div>
    </template>
    <!-- Containers (pods only) -->
    <template x-for="(cont, name) in panelData.containers" :key="name">
      <div>
        <div
          class="panel-block has-background-dark py-0 is-flex is-justify-content-space-around is-align-items-center clickable"
          @click="showContainers=!showContainers" style="cursor: pointer">
          <label class="label is-flex-grow-1 pt-1 mr-3 clickable" x-text="`Container: ${name}`"></label>
          <i class="fas" :class="showContainers ? 'fa-angles-up' : 'fa-angles-down'"></i>
        </div>
        <template x-for="(value, prop) in cont" :key="prop">
          <div class="panel-block py-0" x-show="showContainers" x-transition.scale.origin.top>
            <div class="py-1 has-text-weight-bold property" x-text="prop"></div>
            <div class="py-1=" x-text="value"></div>
          </div>
        </template>
      </div>
    </template>
  </section>
</article>